<section class="section courses-section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title"><%= title %></h2>
      <p class="section-description"><%= description %></p>
    </div>
    <div class="<%= typeof layout !== 'undefined' ? layout : 'grid-layout' %>">
      <% courses.forEach((course, index) => { %>
      <a href="/courses/<%= course.id %>">
        <div class="card fade-in">
          <div class="card-image-container">
            <div class="card-badges-container">
              <span class="badge"><%= course.level %></span>
            </div>
            <img
              src="<%= course.image %>"
              alt="<%= course.name %>"
              class="card-image"
            />
          </div>
          <div class="card-header">
            <span class="card-caption caption"
              >Duration • <%= course.duration %></span
            >
            <h3 class="header-title"><%= course.name %></h3>
            <p class="card-description"><%= course.description %></p>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</section>
