<section class="section">
  <div class="container">
    <div class="section-header">
      <h3 class="section-title"><%= title %></h3>
      <p class="section-description"><%= description %></p>
    </div>
    <div class="grid-layout">
      <% events.forEach(event => { %>
      <div class="card">
        <div class="card-image-container">
          <div class="card-badges-container">
            <% const now = new Date(); const eventDate = new
            Date(event.event_date); const isUpcoming = eventDate > now ?
            "upcoming" : "past"; %>
            <div class="status <%= isUpcoming %>"></div>
            <span class="card-badge badge"><%= event.event_type %></span>
          </div>
          <img
            src="<%= `/images/events/${event.id}.jpg` %>"
            alt=""
            class="card-image"
          />
        </div>
        <div class="card-header">
          <span class="card-caption caption"><%= event.course_name %></span>
          <h3 class="card-title"><%= event.title %></h3>
          <p class="card-description"><%= event.description %></p>
        </div>
        <table class="card-table">
          <tbody>
            <tr>
              <td>Instructor</td>
              <td><%= event.instructor_name %></td>
            </tr>
            <tr>
              <td>Event Date</td>
              <td><%= event.event_date %></td>
            </tr>
            <tr>
              <td>Location</td>
              <td><%= event.location %></td>
            </tr>
            <tr>
              <td>Duration</td>
              <td><%= event.duration %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% }) %>
    </div>
  </div>
</section>
